/* Import a CSS file, which will be included in the final output file */
/* @import "./font-roboto.css"; */

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./base.css";
@import "./menu.css";

/* Exclude the 'vendor' directory from beeing scanned */
/* @source not "../vendor"; */

/* Adjusting variables and adding custom styles */
@theme {
    --text-base: 3rem;
    --font-sans: Inter, system-ui, sans-serif;
    --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';

    --animate-float: float 2s ease-in-out infinite;

    @keyframes float {

        0%,
        100% {
            transform: translateY(0.333rem);
        }

        50% {
            transform: translateY(-0.333rem);
        }
    }

    --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
    --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

:root {
    --swiper-theme-color: var(--color-orange-500) !important;
    --swiper-pagination-bottom: calc(var(--spacing) * -8);
    --swiper-pagination-bullet-width: calc(var(--spacing) * 3);
    --swiper-pagination-bullet-height: calc(var(--spacing) * 1);
    --swiper-pagination-bullet-border-radius: calc(var(--spacing) * 0.333);

    @variant dark {
        --swiper-pagination-bullet-inactive-color: #fff;
    }
}

.led-display {
    @apply relative text-3xl text-teal-300 tracking-wide font-black px-6 py-1 mb-8 bg-zinc-600 border-3 border-gray-800 rounded-sm overflow-hidden w-64 h-12 flex items-center origin-center;

    font-family: Versa, sans-serif;
    text-transform: uppercase;

    background-image: linear-gradient(transparent 0.5px, #999 0.5px), linear-gradient(to right, transparent 0.5px, #999 0.5px);
    background-size: 3px 3px;

    background-blend-mode: multiply;
    text-shadow:
        0 0 1rem var(--color-cyan-200),
        0 0 4rem var(--color-cyan-500);
    corner-shape: bevel;
    box-shadow:
        0 1rem 3rem rgba(48, 64, 64, 0.25),
        /* -0.5px -1px 1px 1px var(--color-gray-500), */
        inset 1px 1px 1px rgba(0, 0, 0, 0.5),
        inset 7px 7px 4px rgba(0, 0, 0, 0.3),
        inset -1px -1px 1px rgba(255, 255, 255, 0.3),
        inset -2px -2px 10px rgba(128, 255, 255, 0.3);

    /* animation: led 4s ease-in-out infinite; */
}

.led-display::after {
    content: '';
    @apply absolute inset-0;

    background-image: radial-gradient(circle, #999 0.5px, transparent 1.2px);
    background-size: 3px 3px;
    background-position: 0.5px 0.5px;

    mix-blend-mode: multiply;
}

@keyframes led {

    0%,
    100% {
        transform: translateY(0.25rem) rotate(-1deg);
    }

    50% {
        transform: translateY(-0.25rem) rotate(1deg);
    }
}

.led-display span {
    position: absolute;
    width: auto;
    text-align: center;
    transform: translateX(100%);
    animation: scroll-left 4s linear infinite;
    text-wrap: nowrap;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}