/* Import a CSS file, which will be included in the final output file */
/* @import "./font-roboto.css"; */

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./base.css";
@import "./menu.css";

/* Exclude the 'vendor' directory from beeing scanned */
/* @source not "../vendor"; */

/* Adjusting variables and adding custom styles */
@theme {
    --text-base: 3rem;
    --font-sans: Inter, system-ui, sans-serif;
    --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

:root {
    --swiper-theme-color: var(--color-orange-500) !important;
    --swiper-pagination-bottom: calc(var(--spacing) * -8);
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bullet-width: calc(var(--spacing) * 3);
    --swiper-pagination-bullet-height: calc(var(--spacing) * 1);
    --swiper-pagination-bullet-border-radius: calc(var(--spacing) * 0.333);
}