/* @import url(../../../assets/vendor/flickity/flickity.min.css); */
@import url(../../../assets/vendor/snappy/snappy.css);

.snappy-carousel {
    .pagination li {
        display: flex;
    }

    .dot {
        background-color: var(--color-gray-200);
        border-radius: 1lh;
        width: calc(var(--spacing) * 4) !important;
        height: calc(var(--spacing) * 4) !important;
        transition-property: width, background;
        transition-duration: 400ms;
        transition-timing-function: ease-out;
    }

    .dot.is-active {
        background-color: var(--color-orange-500);
        width: calc(var(--spacing) * 12) !important;
    }
}